@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


html {
    scroll-behavior: smooth;
  }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}
body {
    background-color: #fbfaf6;
}

section{
    padding: 60px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* ----- icons styling ----- */

.menu-h{
    content: url("../assets/icons/menu.svg");
    width: 30px;
}
.menu-x{
    content: url("../assets/icons/close.svg");
    width: 30px;
}

.off {
    display: none;
}

/* ----- NAVBAR ----- */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1; /* places the navbar on top of every content  */
    padding: 30px 0;
    background: crimson;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar .logo a{
    color: #fff;
    /* color:crimson; */
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;  
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    /* font-weight: 400;
    font-size: 16px; */
    color:#fff;
    /* color:crimson; */
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: black;
    /* transition: color 0.3s ease; */
}
.navbar.sticky .logo a{
    color: #fff;  
}
.navbar.sticky .logo a span{
    color: crimson;  
}
.navbar.sticky .menu li a:hover{    
    color: #fff;  
}

/* ------ menu hamburguer btn ------ */
.menu-btn{
    color: #fff; 
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* ------ scroll btn ------ */
.scroll-btn{
    position:fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 99;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    /* opacity:0; */  /*como é que o IVO sabia este pormenor de treta?! ahahah  incompatibilidade z-index e opacity!! Fonix */
    /* pointer-events: none; */
    transition: all 0.3s ease;
}
.scroll-btn .show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* ----- home section ----- */
ol, ul {
    list-style: disc;
}
.home{
    display: flex;
    background: url("/assets/img/img-whiteDeskClipsPens-Desfocado.png") no-repeat center;
    background-size: cover;
    height:100vh;
    margin: 0;
    color: black;
    min-height:500px;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
    /* background-size: cover; */  /* cover ou contain - A imagem é renderizada, preservando sua proporção intrínseca, com o maior tamanho contido, ou cobrindo a área do elemento pai. Se a imagem não tiver uma proporção intrínseca, então ela é renderizada no tamanho da área do elemento pai.*/
    /*background-attachment: fixed;*/   /*background-attachment: scroll|fixed|local|initial|inherit;*/
}
.max-width .image{
    display: flex;
    /* background: url("images/banner.jpeg") no-repeat center; */
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius:6px;
    border: 2px solid crimson;
    transition: color 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}


/* ----- sections style equal in all sections ---- */

section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    position: relative;    
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
section .title::after{
    background: #111;
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    transform: translateX(-50%);
}


/* ----- about section ----- */
.about-section{
    font-family: 'Poppins', sans-serif;
    background: #111;
    color:#fff;
    margin-top: 0px;
    /* background-color: #fbfaf6; */
    /* background-color: #F0F8F4; */    
}
.about-section .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-section .about-content .left{
    width: 45%;    
}
.about-section .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;    
}
.about-section .title::after{
    content: "who i am ";
}
.about-section .about-content .rigth{
    width: 55%;    
}
.about-section .about-content .rigth .text{
    font-size:25px;
    font-weight: 600;   
    margin-bottom: 10px;
}
.about-section .about-content .rigth .text span{
    color: crimson;
}
.about-section .about-content .rigth p{
    text-align: justify;
}
.about-section .about-content .rigth h2{
    font-weight: 600;
}
.about-section .about-content .rigth a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius:6px;
    border: 2px solid crimson;
    transition: color 0.3s ease;
}
.about-section .about-content .rigth a:hover{
    color: crimson;
    background: none;
}


/* ----- skills section ----- */
.skills-section{
    font-family: 'Poppins', sans-serif;
    background: #fbfaf6;
    color:#111;
    /* background-color: #F0F8F4; */
}
.skills-section .title::before{
    background: #111
}
.skills-section .title::after{
    content: "what i know";
    background: #fff;
}

#slider{
    width: 100%;
}
.skillsSlider{
    display: inline-flex;
    width: 200%;
    height: 130px;
    padding: 30px 30px;
    border: 200px;
    margin: 20px;
    border-radius:6px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.skillsSlider .active{
    display: inline-flex;
    padding: 2px 2px;
    border-radius:6px;
}
.skills-section .responsive {
    max-width: 100%;
    height: auto;
}
.carrousselBtns{
    align-self: center;
    cursor: pointer;
    background: crimson;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 8px;
    margin: 0 5px;
    border-radius: 6px;
    border: 1px solid crimson;
}
.skills-section .skills p{
    margin-top: 100px;
    text-align: center;
    padding: 30px 30px;
    border:20px; 
}
.skills-section .skills a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid crimson;
}

.buttons {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: inline-flex;

}


/* ----- services section ----- */
.services-section{
    font-family: 'Poppins', sans-serif;
    background: #fbfaf6;
    color:#111
    /* background-color: #F0F8F4; */
}
.services-section .title::before{
    background: #111
}
.services-section .title::after{
    background: #fff;
    content: "what i do ";
}
.services-section .serv-content .card{
    width: (33% - 20px);
}


/* ----- contact section ----- */
.contact .title::before{
    background: #111
}
.contact .title::after{
    content: "get in touch";
    background: #fff;
}
.contact .contact-content {
    display: flex;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}



/* ----- FOOTER ----- */

footer {
    font-family: 'Poppins', sans-serif;
    background: #111;
    width: 100%;
    padding: 20px 23px;
    font-size: 15px;
    color: #fff;
    position: relative;
    align-items: center;
}
footer .findMe{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 20px;
}
footer a:hover{
    text-decoration: underline;
}
footer a{
    color: crimson;
    text-decoration: none;
}
footer span {
    display:flex;
    justify-content:center;
}
footer i {
    color: #fff;
}
  


/* ------ Responsive media query styling ------ */

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about-section .about-content .left img{
        height: 350px;
        width: 350px;  
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 2;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%; /* colocar -100% quando o código do JS toggle estiver a funcionar)*/
        top: 0;
        background:#111;
        text-align: center;
        padding-top: 80px;
        transition:all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        color: crimson;
        transition: color 0.3s ease;
    }
    /* .menu-btn i.active:before{
        content: "\f00d";     /* icon cruz para voltar ao hambuguer menu 
    }*/
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;    
    }
    .max-width{
        max-width: 800px;
    }
    .about-section .about-content .column{
        width: 100%;
    }
    .about-section .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-section .about-content .rigth { /* for smaller screens texts jumps down over the picture*/
        flex: 100%;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}